<footer>
    <div class="logo">
        <div class="part1">
            <img [src]="logo" alt="">
            <div class="line"> </div>
        </div>
        <div class="part2">
            <a class="num">+ 380 96 453 23 04</a>
            <a class="gmail">nextstep&#64;gmail.com</a>
        </div>

    </div>
    <nav>
        <ul>
            <li>Головна</li>
            <li>Форум</li>
            <li>Рейтинг</li>
            <li>Консультації</li>
        </ul>
    </nav>
    <div class="media">
        <img [src]="instagram">
        <img [src]="youtube">

    </div>
</footer>